auth_mechanisms = plain
passdb {
  driver = passwd-file
  args = username_format=%u /var/vmail/auth.d/%d/passwd
}
userdb {
  driver = passwd-file
  args = username_format=%u /var/vmail/auth.d/%d/passwd
}
